*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 40vmax;
    height: 40vmax;

    &__cell {
        --x-width: 15px;
        --o-width: 150px;
        --o-border-width: 15px;
        border: 2px solid black;
        position: relative;
        cursor: pointer;
    }
    
    &__cell:nth-child(2), &__cell:nth-child(5), &__cell:nth-child(8) {
        border-left: none;
        border-right: none;
    }
    
    &__cell:nth-child(4), &__cell:nth-child(5), &__cell:nth-child(6) {
        border-top: none;
        border-bottom: none;
    }
}

%x {
    content: '';
    background-color: black;
    width: var(--x-width);
    height: calc(var(--x-width) * 10);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%; 
}

%x-before {
    transform: translate(-50%, -50%) rotate(45deg);
}

%x-after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

%o {
    content: '';
    width: var(--o-width);
    height: var(--o-width);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: var(--o-border-width) solid black;
    border-radius: 50%;
}

.x, .o {
    cursor: not-allowed;
}

.x::before, .x::after {
    @extend %x;
}

.x::before {
    @extend %x-before;
}

.x::after {
    @extend %x-after;
}

.o::before {
    @extend %o;
}

.x-turn:hover:not(.x):not(.o)::before, .x-turn:hover:not(.x):not(.o)::after {
    @extend %x;
    background-color: rgb(170, 170, 170);
}

.x-turn:hover:not(.x):not(.o)::before {
    @extend %x-before;
}

.x-turn:hover:not(.x):not(.o)::after {
    @extend %x-after;
}

.o-turn:hover:not(.x):not(.o)::before {
    @extend %o;
    border-color: rgb(170, 170, 170);
}

.end-screen {
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 10rem;
    color: white;
    display: none;

    button {
        font-size: 5rem;
        color: white;
        background-color: black;
        border: 2px solid white;
        padding: .5rem 2rem;
        cursor: pointer;
    }
}

.end-screen.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1220px) {
    .grid {
        &__cell {
            --x-width: 10px;
            --o-width: 100px;
            --o-border-width: 10px;
        }
    }
}

